.categories {
    margin-top: 00px;
    background-color: #f8ecc0;
    padding: 50px;
}

.categories-body {
    display: flex;
    justify-content: space-around;
}

.categories-label {
    display: block;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.categories-input {
    /*margin-right: 20px;
    border-bottom: 1px solid #555 !important;
    padding: 5px 0;
    border: none;*/
    margin-right: 20px;
    border: 1px solid #555 !important;
    padding: 5px 0;
    border: none;
    width: 70%;
}

.categories-input:focus {
    outline: none;
}

.categories-button {
    background-color: #cd8e06;
    color: black;
    padding: 5px 15px;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
}

.categories-button:hover {
    background-color: #bf8404;
}

.categories-button:focus {
    outline: none;
}

.categories-item {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #555;
    margin-bottom: 20px;
    background-color: white;    
}

.categories-item-name {
    width: 220px;
    margin-right: 20px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}





/*fhsjjjjjjjjj,*/

.create-category{
    width: 500px;
    height: 100px;
    margin-bottom: 30px;
    border: solid black 1px;
    padding: 10px;
    background-color: white;
}
